* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; /* Используем шрифт Inter */
    background-color: black;
    color: white;
}

.block {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block-1 {
    background-color: grey;
}

#block-2 {
    position: relative;
    height: 300vh; /* Установлено на 300vh */
    display: flex;
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    align-items: flex-start; /* Выравнивание по верхнему краю */
}

.content-container {
    position: sticky;
    top: 0; /* Позиционирование от верхней части */
    text-align: center;
    width: 100%; /* Занимает всю ширину блока */
    height: 100vh; /* Высота контента на весь экран */
    overflow: hidden; /* Скрытие переполненного содержимого */
}

.svg-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.triangle {
    width: 200%; /* Увеличенная ширина */
    height: auto;
    margin-left: -60%; /* Сдвиг влево */
    margin-top: -10%; /* Сдвиг влево */
    transform: rotateY(10deg) perspective(1000px); /* Начальный наклон вправо */
    transition: transform 0.1s linear;
}

.text-container {
    position: absolute; /* Фиксируем текст внизу */
    bottom: 0; /* Прилепляем к низу */
    margin-bottom: 20px; /* Небольшой отступ снизу */
    transition: transform 0.5s ease; /* Плавный переход для текст-контейнера */
}

#text-wrapper {
    transition: opacity 0.5s ease;
}

h2, p {
    margin: 10px 16px;
    text-align: left;
}

.fade {
    opacity: 0;
    transform: translateY(20px); /* Поднимаем текст вниз при скрытии */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход */
}

.show {
    opacity: 1;
    transform: translateY(0); /* Возвращаем текст в исходное положение */
}
